@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Caveat|Cinzel|VT323');
.mt,
.mtb {
    margin-top: 50px
}

.mb,
.mtb {
    margin-bottom: 50px
}

.menu,
.menu-wrap {
    top: 0;
    height: 100%
}

.menu a,
.menu h1.logo a {
    line-height: 40px;
    text-transform: uppercase
}

#nav li a:hover,
.current a {
    text-decoration: none;
    border-top: 3px solid #ddd7d2
}

@font-face {
    font-family: Pacifico;
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v9/fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype')
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/nj47mAZe0mYUIySgfn0wpQ.ttf) format('truetype')
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype')
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/DvlFBScY1r-FMtZSYIYoYw.ttf) format('truetype')
}

@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 300;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
    font-family: Lato;
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/LqowQDslGv4DmUBAfWa2Vw.ttf) format('truetype')
}

@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v9/DPPfSFKxRTXvae2bKDzp5KCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}


@font-face {
    font-family: 'Passion One';
    font-style: normal;
    font-weight: 400;
    src: local('Passion One'), local('PassionOne-Regular'), url(https://fonts.gstatic.com/s/passionone/v6/fY6k21F1QT2c_Oc3HRNDwp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype')
}



.alignleft {
    float: left
}

.alignright {
    float: right
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both
}

.centered {
    text-align: center
}

.menu,
.menu a>i {
    text-align: left
}

.mtb2 {
    margin-top: 100px;
    margin-bottom: 100px
}

.ptb {
    padding-top: 80px;
    padding-bottom: 80px
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}

.social {
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s
}

#social-bc:hover {
    color: #629aa9
}

#social-tw:hover {
    color: #4099FF
}

#social-ig:hover {
    color: #c13584
}

#social-em:hover {
    color: #f39c12
}

.menu {
    position: fixed;
    right: -200px;
    width: 260px;
    z-index: 400
}

.menu.menu-open {
    right: 0
}

.menu-wrap {
    position: absolute;
    left: 60px;
    background: #1a1a1a;
    width: 200px
}

.menu h1.logo a {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: .15em;
    color: #fff;
    margin-top: 20px
}

.current a,
.menu a,
h1 {
    font-weight: 700
}

.menu h1.logo a:hover {
    color: #D2527F
}

.menu img.logo {
    margin: 20px 0;
    max-width: 160px
}

.menu a {
    margin-left: 20px;
    color: grey;
    display: block;
    font-size: 12px;
    letter-spacing: .1em
}

#h h2,
#nav li,
h1 {
    letter-spacing: 1.5px
}

.menu a:active,
.menu a:hover {
    color: #fff
}

.menu a>i {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    font-size: 16px;
    line-height: 40px;
    margin: 25px 2px
}

#menuToggle,
#nav li a {
    text-align: center;
    color: #555
}

#menuToggle,
.menu-close {
    top: 20px;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer
}

#a,
#m {
    margin-top: -50px
}

.menu-close {
    position: absolute;
    font-size: 14px;
    color: grey;
    right: 5px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

#menuToggle,
.menu-close:hover {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out
}

.menu-close:hover {
    color: #fff;
    transition: all .1s ease-in-out
}

.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0
}

.body-push-toright {
    left: 200px
}

.body-push-toleft {
    left: -200px
}

.body-push,
.menu {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

#menuToggle {
    position: absolute;
    left: 0;
    z-index: 11;
    font-size: 18px;
    transition: all .1s ease-in-out
}

#menuToggle:hover {
    color: #B93848;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.no-js #loader {
    display: none
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loader-128x/Preloader_5.gif) center no-repeat #fff
}

#particles-js,
.particles-c,
.twitter-follow-button {
    position: absolute;
    top: 0
}

body {
    background-color: #272727
}

h1 {
    font-family: Lato, sans-serif;
    padding: 10px;
    color: #ddd7d2
}

h2 {
    padding: 10px;
    font-family: Lato, sans-serif;
    color: #bcb0a6
}

a:hover {
    text-decoration: none
}

#particles-js {
    background: 0 0;
    height: 50vh;
    width: 100%;
    left: 0;
    z-index: 200
}

.particles-c {
    z-index: 100;
    left: 0;
    height: 50vh;
    width: 100%;
    background: #272727!important
}

#nav,
.twitter-follow-button {
    left: 0;
    z-index: 400!important
}

#nav {
    margin-left: auto;
    margin-right: auto;
    right: 0;
    position: fixed;
    padding-top: 20px
}

#nav ul {
    list-style-type: none;
    margin: 0
}

#nav li {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #555;
    display: inline;
    padding-right: 80px
}

#nav li:nth-child(4) {
    padding-right: 0;
    margin-right: 0
}

#nav li a {
    padding-top: 17px
}

#nav li a:hover {
    color: #ddd7d2
}

#nav li a:focus {
    text-decoration: none
}

.current a {
    color: #ddd7d2!important
}

.socials {
  text-align: center;
}
#h h2 a,
#h h2 {
    color: #888
}


#h {
    position: relative;
    z-index: 300;
    padding-top: 100px;
}

#h h1 {
    font-family: "caveat", cursive;
    color: #ffffff;
    font-size: 70px;
    padding: 25px
}

#h h2 {
    padding-top: 30px;
    font-family: Lato, sans-serif;
    font-size: 18px
}

#h a:hover {
    color: #ddd7d2
}

.m {
    background-color: #272727;
    height: 100vh;
    margin-top: 150px;
  }

#m h1 {
    font-family: Pacifico, cursive
}

#a {
    height: auto;
    background-color: #272727;
    padding: 50px
}
